<!DOCTYPE html>
<html>
    <head>
        <title>微淘</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta charset="utf-8" />
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="black" name="apple-mobile-web-app-status-bar-style" />
        <meta content="telephone=no" name="format-detection" />
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" />
        <link href="http://a.tbcdn.cn/mw/webapp/allspark/wetaoIcon.png" rel="apple-touch-icon-precomposed" />
        <link rel="stylesheet/less" type="text/css" href="less/allspark.less" />
        <script src="less.js" type="text/javascript"></script>
    </head>

    <body style="background: #f8f8f8">
    <div id="content">
        <header class="navbar ">
        </header>
        <div class="tb-h5">
            <div id="indexPage" class="view-page">
                <!--<div class="J_slider"></div>
                <div class="J_status"></div>
                <div class="J_list">
                    <div class="person-list"></div>
                    <div id="personListPageNav" class="pagenav c-pnav-con"></div>
                </div> -->

                <ul class="feed-list">
                    <li>
                      <div class="feed-item">
                      <p class="title">冬日，也可以如此清凉美丽</p>
                      <p class="feed-info">
                        <span class="icon-clock pub-time">10分钟前</span>
                        <span class="icon-comment cmt-count">7384</span>
                      </p>
                      <img style="width: 100%" src="http://img03.taobaocdn.com/tfscom/tuitui/T1cnXSXwphXXXXXXXX">
                      <p class="summary">纯粹的服装搭配往往让人感觉上还差那么一点点，而简单得甚至有些平淡的服装搭配更需要饰品来点亮全身。而简单得甚至有些平淡的服装搭配更需要饰品来点亮全身。</p>
                      <a href="#account/2006572675" class="account">
                        <div class="default">
                          <img class="avatar" src="http://img02.taobaocdn.com/tfscom/tuitui/T1qQBJXrlbXXXXXXXX_100x100.jpg"></div>
                          <p class="name">服装搭配师miuo</p>
                      </a>
                      </div>
                      <div class="separator"></div>
                    </li>

                    <li>
                      <div class="feed-item">
                        <p class="title">冬日，也可以如此清凉美丽</p>
                        <p class="feed-info">
                          <span class="icon-clock pub-time">10分钟前</span>
                          <span class="icon-comment cmt-count">7384</span>
                        </p>
                      <p class="text">纯粹的服装搭配往往让人感觉上还差那么一点点，而简单得甚至有些平淡的服装搭配更需要饰品来点亮全身。而简单得甚至有些平淡的服装搭配更需要饰品来点亮全身。</p>
                      <a href="#account/2006572675" class="account">
                        <div class="default">
                          <img class="avatar" src="http://img02.taobaocdn.com/tfscom/tuitui/T1qQBJXrlbXXXXXXXX_100x100.jpg"></div>
                          <p class="name">服装搭配师miuo</p>
                      </a>

                      </div>
                      <div class="separator"></div>
                    </li>
                </ul>



                <footer style="display: none">
                    <span class="nick"></span><a href="http://login.m.taobao.com/logout.htm">退出</a> <span class="gotop">Top <b></b></span>
                </footer>

            </div>
            <div id="accountListPage" class="view-page hide  iR">
                <div class="person-list"></div>
                <div id="accountListPageNav" class="pagenav c-pnav-con"></div>
            </div>
            <div id="accountPage" class="view-page hide iR">
                <div class="J_info"></div>
                <div class="J_feed">
                    <div class="tb-feed">
                        <ul class="tb-feed-items"></ul>
                        <div id="feedPageNav" class="pagenav c-pnav-con"></div>
                    </div>
                </div>
            </div>
            <div id="detailPage" class="view-page hide  iR detail">
                <div class="account"></div>
                <div class="main"></div>
            </div>
            <div id="commentListPage" class="view-page hide  iR comment">
            </div>
            <div id="newCommentPage" class="view-page hide iR new-comment">
            </div>

        </div>

    </div>

    <div id="notification" class="notification" style="display: none;">
        <div class="panel">
            <div class="long-message" style="display: none;">
                即将前往外部页面，页面地址是：
                <a class="external" href="http://item.taobao.com/item.htm" target="_blank">http://item.taobao.com/item.htm?i123456789</a>
                外部页面可能有安全隐患，请注意保护您的隐私。
            </div>
            <div class="simple-message">更新了 <strong>89</strong> 条广播</div>
            <div class="actions" style="display: none;">
                <div class="btn-wrap"><button class="confirm">确定</button></div>
                <div class="btn-wrap"><button class="cancel">取消</button></div>
                <div class="btn-wrap" style="display: none;"><button class="retry">重试</button></div>
            </div>
        </div>
    </div>

    <!-- Templates -->
    <script id="navBack_tpl" type="text/template">
        <div class="back">
            <a href="<%=backUrl%>"><%=backTitle%></a>
        </div>

    </script>
    <script id="homeTitle_tpl" type="text/template">
        <div class="title"></div>
        <ul class="fn_btns">
            <li class="add log" data-log="addaccount">
                <div class="btn"><div></div></div>
            </li>
            <li class="refresh index">
                <div class="btn"><div></div></div>
            </li>
        </ul>
    </script>
    <script id="accountTitle_tpl" type="text/template">
        <div class="title"></div>
        <ul class="fn_btns">
            <li class="refresh account">
                <div class="btn"><div></div></div>
            </li>
        </ul>
    </script>
    <script id="accountListTabBar_tpl" type="text/template">
        <div class="tab-bar">
            <ul>
                <li class="log" data-log="notfoucus">未关注</li>
                <li class="log" data-log="foucus">已关注</li>
            </ul>
        </div>
    </script>


    <script id="index_header_tpl" type="text/template">
        <div class="back">
            <a href="http://m.taobao.com">首页</a>
        </div>
        <div class="title">微淘</div>
        <ul class="fn_btns">
            <li class="add log" data-log="addaccount">
                <div class="btn"><div></div></div>
            </li>
            <li class="refresh index">
                <div class="btn"><div class=""></div></div>
            </li>
        </ul>
    </script>

    <script id="detail_header_tpl" type="text/template">
        <div class="back">
            <a href="<%= href %>">返回</a>
        </div>
        <div class="title">&nbsp;</div>
        <ul class="fn_btns">
            <li class="comment to-comment-list log" data-log="commentlist">
                <div class="btn">评论 <span></span></div>
            </li>
        </ul>
    </script>
    <script id="comment_list_header_tpl" type="text/template">
        <div class="back">
            <a href="<%= href %>">返回</a>
        </div>
        <div class="title">&nbsp;</div>
        <ul class="fn_btns">
            <li class="comment write-comment log" data-log="addcomment">
                <div class="btn">写评论</div>
            </li>
        </ul>
    </script>
    <script id="newComment_header_tpl" type="text/template">
        <div class="back">
            <a href="<%= href %>">返回</a>
        </div>
        <div class="title">&nbsp;</div>
        <ul class="fn_btns">
            <li class="comment publish-comment">
                <div class="btn green">发布</div>
            </li>
        </ul>
    </script>

    <script id="slider_tpl" type="text/template">
        <div class="in-slider ishide">
            <div class="in-slider-cont" style="-webkit-transform: translate3d(0px, 0px, 0px);">

                <ul id="inslist" style="-webkit-transform: translate3d(0px, 0px, 0px); -webkit-backface-visibility: hidden; width: <%=width %>px; -webkit-transition: 0ms;">
                    <% _.each(list, function(item) { %>
                    <li style="-webkit-transform: translate3d(0px, 0px, 0px);">
                        <a href="<%=item.url %>">
                            <img class="lazyimg" height="150" width="320" dataimg="<%=item.picture %>" src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif">
                        </a>
                    </li>
                    <% }); %>
                </ul>
            </div>
            <div class="in-slider-status">

            </div>
        </div>
    </script>
    <script id="myList_tpl" type="text/template">
        <ul>
            <% _.each(list, function(item) { %>
            <li>
                <div snsid="<%=item.id%>" class="content">
                    <div class="title"><%=item.nick%></div>
                    <div class="info"><%=item.description%></div>
                    <div class="follows"><span><%=item.fansCount%></span>关注者</div>
                    <div class="default">
                        <% if(item.logoUrl){ %>
                        <img src="<%=getImgUrl(item.logoUrl,100,60)%>">
                        <% } %>
                    </div>
                </div>
            </li>
            <% }); %>
        </ul>
    </script>
    <script id="personList_tpl" type="text/template">
        <ul>
            <% _.each(list, function(item) { %>
            <li>
                <div snsid="<%=item.id%>" class="content log" data-log="account">
                    <div class="title"><%=item.nick%></div>
                    <div class="info"><%=item.description%></div>
                    <div class="follows"><span><%=item.fansCount%></span>关注者</div>
                    <div class="default">
                        <% if(item.logoUrl){ %>
                        <img src="<%=getImgUrl(item.logoUrl,100,60)%>">
                         <% } %>
                    </div>
                </div>
                <% if(item.followed=='true'){ %>
                <button pid="<%=item.id%>" class="followbtn followed log" data-log="cancelattention">取消关注</button>
                <% }else{ %>
                <button pid="<%=item.id%>" class="followbtn log" data-log="attention">关注</button>
                <% }%>
            </li>
            <% }); %>
        </ul>
    </script>
    <script id="recommendtip_tpl" type="text/template">
        <div class="recommendtip">您还没有关注任何账号哦，看看我们的推荐吧！</div>
    </script>
    <script id="myfeed_tpl" type="text/template">

        <div class="myfeed">
            <ul>
                <% _.each(list, function(item) { %>
                <% if(item.firstFeed){ %>
                <% if(item.firstFeed.coverTile&&item.firstFeed.coverTile.path) {%>
                <li feedId="<%=item.firstFeed.id%>" snsid="<%=item.firstFeed.creatorId%>" class="multimedia log" data-log="account">
                    <div class="media">
                        <div class="default">
                            <% if(item.firstFeed.coverTile.path){ %>
                            <img src="<%=getImgUrl(item.firstFeed.coverTile.path,170,100,true)%>">
                             <% } %>
                        </div>
                    </div>
                    <% }else{ %>
                <li feedId="<%=item.firstFeed.id%>" snsid="<%=item.firstFeed.creatorId%>" class="log" data-log="account">
                    <% } %>
                    <div class="feed">
                        <div class="title"><%=item.firstFeed.title%></div>
                        <div class="info"><%=item.firstFeed.summary%></div>
                        <div class="status">
                            <span class="time"><%=timestamps(item.firstFeed.time)%></span>
                            <%if (item.unreadCount>0){ %>
                                            <span class="like">
                                                <%if (item.unreadCount>9){ %>
                                                9+
                                                <% }else{ %>
                                                    <%=item.unreadCount%>
                                                <% } %>
                                            </span>
                            <% } %>
                            <% if(item.account){ %>
                            <span class="name"><%=item.account.nick%></span>
                            <% } %>
                        </div>
                    </div>
                </li>
                <% } %>

                <% }); %>

            </ul>
        </div>
    </script>

    <script id="accountinfo_tpl" type="text/template">
        <div snsid="<%=id%>" class="tb-profile">
            <div class="user-mark"></div>
            <div class="user-cover" style="<% if(backgroundImg){ %>background-image: url('<%=backgroundImg%>')<% } %>">
            </div>
            <div class="user-avatar">
                <div class="default">
                    <% if(logoUrl){ %>
                    <img src="<%=getImgUrl(logoUrl,100,60)%>">
                    <% } %>
                </div>
            </div>
            <div class="user-info">
                <h1><%=nick%></h1>
                <h3><%=description%></h3>
            </div>
        </div>
        <% if(noHelper(accountType)){ %>
        <div class="tb-counts">
            <div class="profile-overview">
                <div class="stats-count">
                    <%=fansCount%>
                </div>
                <div class="stats-name">
                    关注者
                </div>
            </div>
            <div class="profile-overview">

                <div url="<%=url%>" linkUrlIsExt="<%=linkUrlIsExt%>" class="stats-global <% if(url==''){ %> stats-global-disable <% } %> wwwIco"></div>

            </div>

            <div class="profile-overview">
                <% if(followed=='true'){ %>
                <button pid="<%=id%>" class="stats-follow-btn followed log" data-log="cancelattention">
                    取消关注
                </button>
                <% }else{ %>
                <button pid="<%=id%>" class="stats-follow-btn log" data-log="attention">
                    关注
                </button>
                <% } %>
            </div>
        </div>
        <% } %>
    </script>
    <script id="tbfeed_tpl" type="text/template">

        <% _.each(list, function(item) { %>
        <li feedId="<%=item.id%>">
            <div class="title"><%=item.title%></div>
            <div class="fns">
                <div class="time"><%=timestamps(item.time)%></div>
                <% if(item.commentCount!=0) {%>
                <div class="comment commentIco">
                    <%=item.commentCount%>
                </div>
                <% }%>
            </div>
            <% if(item.coverTile){ %>
            <% if(item.coverTile.path){%>
            <div class="media">
                <div class="item <% if(item.coverTile.item){ %>
                                    <% if(item.coverTile.item){ %>
                                        it<%=item.coverTile.item.id%>
                                    <% } %>
                                 <% } %>" >
                    <img style="<%=feedImageSizeStyle(parseInt(item.coverTile.picWidth), parseInt(item.coverTile.picHeight)) %>" picWidth="<%=parseInt(item.coverTile.picWidth)%>" picHeight="<%=parseInt(item.coverTile.picHeight)%>" src="<%=resizeImg({'url':item.coverTile.path,'expWidth':window.innerWidth,'rWidth':parseInt(item.coverTile.picWidth),'rHeight':parseInt(item.coverTile.picHeight),'isXz':true}).url%>"/>
                </div>
            </div>
            <% } %>
            <% } %>
            <div class="text">
                <%=item.summary%>
            </div>

        </li>
        <% }); %>
        </ul>

    </script>
    <script id="loginBar_tpl" type="text/template" disable>
        <div class="login-bar">
            <span>登录后就能关注您喜欢的账号了</span>
            <a class="login-btn log" data-log="login" id="J_login_btn">登录</a>
        </div>
    </script>


    <script id="detail_accinfo_tpl" type="text/template">
        <a href="#account/<%= snsId %>"  class="brand">
            <div class="default">
                <% if(logoUrl){ %>
                <img class="avatar" src="<%=getImgUrl(logoUrl,100,60)%>"/>
                <% } %>
            </div>
            <div class="info">
                <p class="name"><%= nick %></p>
                <% if(noHelper(accountType)){ %>
                <p class="follow" snsid="<%=snsId%>">
                    <% if (fansCount == 0) { %>
                    还没有人关注
                    <% } else { %>
                    <span class="count"><%= fansCount %></span> 关注者
                    <% } %>
                </p>
                <% } %>
            </div>
        </a>
        <div class="separator"></div>
    </script>
    <script id="detail_content_tpl" type="text/template">
        <h1><%= title %></h1>
        <% if (time) { %>
        <p class="pub-time"><%= timestamps(time) %></p>
        <% } %>
        <% for (var i = 0; i < tiles.length; i++) { %>
        <% if (tiles[i].type == "pic") { %>
        <div class="media"><img src="<%= getBetterImg(tiles[i].path, window.innerWidth-30, parseInt(tiles[i].picWidth)) %>"
                                style="<%= detailImageSizeStyle(tiles[i].picWidth, tiles[i].picHeight) %>">
        </div>
        <% } else if (tiles[i].type == "text") { %>
        <p class="text"><%= tiles[i].text.replace(/(\n)+/g, '<br />') %></p>
        <% } else if (tiles[i].type == "picItem") { %>
        <div class="media">
            <a style="display: block" href="<%= getItemDetailUrl('a', { itemId: tiles[i].item.id }) %>" class="item" data-id="<%= tiles[i].item.id %>">
                <img src="<%= getBetterImg(tiles[i].path, window.innerWidth-30, parseInt(tiles[i].picWidth)) %>"
                     style="<%= detailImageSizeStyle(tiles[i].picWidth, tiles[i].picHeight) %>">
                <div class="price" style="display: none;"></div>
            </a>
        </div>
        <% } %>
        <% } %>

        <% if (linkUrl) { %>
        <a href="<%= linkUrl %>" class="more-content">
            <span class="link-icon"></span>
            <span class="link-title"><%= linkTitle || '更多内容' %></span></a>
        <% } %>
    </script>



    <script id="comment_list_tpl" type="text/template">
        <ul class="comment-list">
            <% for (var i = 0; i < list.length; i++) { %>
            <li>
                <div class="user-info">
                    <div class="default">
                        <%if(list[i].createrPic){%>
                        <img  src="<%= list[i].createrPic %>">
                        <% } %>
                    </div>
                    <div class="info">
                        <p class="user-name"><%= list[i].createrName %></p>
                        <p class="pub-time"><%= timestamps(list[i].time) %></p>
                    </div>
                </div>
                <div class="user-comment">
                    <%- list[i].content %>
                </div>
                <div class="separator"></div>
            </li>
            <% } %>
        </ul>
        <div id="commentListPageNav" class="pagenav"></div>
    </script>



    <script id="newComment_input_tpl" type="text/template">
        <div class="comment-wrap">
            <textarea id="comment-area" placeholder="说点儿什么吧"></textarea>
            <p class="word-count"><span class="char-count">0</span> / 140</p>
        </div>
    </script>

    <!-- Templates -->

        <input type="hidden" id="J_dapp_key" value="12574478">
		 <input type="hidden" id="J_app_key" value="4272">
        <script src="http://a.tbcdn.cn/mw/base/libs/seajs/1.2.0/sea.js"></script>
        <script>
            seajs.use('./src/app/allspark.js', function(app){
                //new app();
            });

        </script>

    </body>
</html>