<!DOCTYPE html>
<html>
    <head>
        <title>淘宝网</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta charset="utf-8" />
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="black" name="apple-mobile-web-app-status-bar-style" />
        <meta content="telephone=no" name="format-detection" />
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <link href="http://a.tbcdn.cn/mw/s/hi/tbtouch/images/touch-icon.png" rel="apple-touch-icon-precomposed" />
        <link rel="stylesheet/less" type="text/css" href="less/transformer.less">
        <script src="less.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="content">
            <header class="navbar"></header>
            <div class="tb-h5">
                <div id="indexPage" class="view-page iL">
                    <div class="J_slider"></div>
                    <div class="J_status"></div>
                    <div class="J_list">
                        <div class="person-list"></div>
                        <div id="personListPageNav" class="pagenav c-pnav-con"></div>
                    </div>
                </div>
                <div id="accountListPage" class="view-page iL">
                    <div class="person-list"></div>
                    <div id="accountListPageNav" class="pagenav c-pnav-con"></div>
                </div>
                <div id="accountPage" class="view-page iL">
                    <div class="J_info"></div>
                    <div class="J_feed">
                        <div class="tb-feed">
                            <ul class="tb-feed-items">
                            </ul>
                            <div id="feedPageNav" class="pagenav c-pnav-con"></div>
                        </div>
                    </div>
                </div>
                <div id="detailPage" class="view-page iL detail">
                </div>
                <div id="commentListPage" class="view-page iL comment">
                </div>
                <div id="newCommentPage" class="view-page iL new-comment">
                </div>
            </div>
        </div>
        <input type="hidden" id="J_user_nick" value="tbwuzhong000"/>
        <input type="hidden" id="J_sid" value="6752c8f33e1ed86c2c75115f5b6966bb"/>

        <!-- end of #content -->

        <!-- Templates -->
        <script id="navBack_tpl" type="text/template">
            <div class="back">
                <a><%=backTitle%></a>
            </div>

        </script>
        <script id="homeTitle_tpl" type="text/template">
            <div class="title">变形金刚</div>
            <div class="btn add"></div>
            <div class="btn refresh"></div>
        </script>
        <script id="accountTitle_tpl" type="text/template">
            <div class="title">变形金刚</div>
            <div class="btn refresh"></div>
        </script>
        <script id="accountListTabBar_tpl" type="text/template">
            <div class="tab-bar">
                <ul>
                    <li>未关注</li>
                    <li>已关注</li>
                </ul>
            </div>
        </script>
        <script id="slider_tpl" type="text/template">
            <div class="in-slider ishide">
                <div class="in-slider-cont" style="-webkit-transform: translate3d(0px, 0px, 0px);">

                    <ul id="inslist" style="-webkit-transform: translate3d(0px, 0px, 0px); -webkit-backface-visibility: hidden; width: <%=width %>px; -webkit-transition: 0ms;">
                        <% _.each(list, function(item) { %>
                        <li style="-webkit-transform: translate3d(0px, 0px, 0px);" l="1">
                            <a href="<%=item.href %>">
                                <img height="150" width="320" src="<%=item.img %>">
                            </a>
                        </li>
                        <% }); %>
                    </ul>
                </div>
                <div class="in-slider-status">

                </div>
            </div>
        </script>
        <script id="personList_tpl" type="text/template">

                <ul>
                    <% _.each(list, function(item) { %>
                    <li>
                        <div snsid="<%=item.id%>" class="content">
                            <div class="title"><%=item.nick%></div>
                            <div class="info"><%=item.description%></div>
                            <div class="follows"><span><%=item.fansCount%></span>关注者</div>
                            <img src="<%=item.logoUrl%>">
                        </div>
                        <% if(item.followed=='true'){ %>
                            <button pid="<%=item.id%>" class="followbtn followed">已关注</button>

                        <% }else{ %>
                            <button pid="<%=item.id%>" class="followbtn">关注</button>
                        <% }%>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </script>
        <script id="recommendtip_tpl" type="text/template">
            <div class="recommendtip">您还没有关注任何账号哦，看看我们的推荐吧！</div>
        </script>
        <script id="myfeed_tpl" type="text/template">
            
            <div class="myfeed">
                <ul>
                    <% _.each(list, function(item) { %>
                    <% if(item.firstFeed){ %>
                        <% if(item.firstFeed.coverTile.path) {%>
                            <li feedId="<%=item.firstFeed.id%>" snsid="<%=item.firstFeed.creatorId%>" class="multimedia">
                                <div class="media">
                                    <img src="<%=item.firstFeed.coverTile.path%>">
                                </div>
                            <% }else{ %>
                            <li feedId="<%=item.firstFeed.id%>" snsid="<%=item.firstFeed.creatorId%>">
                            <% } %>
                                <div class="feed">
                                    <div class="title"><%=item.firstFeed.title%></div>
                                    <div class="info"><%=item.firstFeed.summary%></div>
                                    <div class="status">
                                        <span class="time"><%=timestamps(item.firstFeed.time)%></span>
                                        <span class="like"><%=item.account.fansCount%></span>
                                        <span class="name"><%=item.account.nick%></span>
                                    </div>
                                </div>
                            </li>
                    <% } %>
                    <% }); %>

                </ul>
            </div>
        </script>

        <script id="accountinfo_tpl" type="text/template">
            <div snsid="<%=id%>" class="tb-profile">
                <div class="user-mark"></div>
                <div class="user-cover" style="background-image: url('<%=backgroundImg%>')">
                </div>
                <div class="user-avatar">
                    <img src="<%=logoUrl%>_60x60.jpg"/>
                </div>
                <div class="user-info">
                    <h1><%=nick%></h1>
                    <h3><%=description%></h3>
                </div>
            </div>
            <div class="tb-counts">
                <div class="profile-overview">
                    <div class="stats-count">
                        <%=fansCount%>
                    </div>
                    <div class="stats-name">
                        关注者
                    </div>
                </div>
                <div class="profile-overview">
                    <div class="stats-global wwwIco">
                        <a href="<%=url%>">
                        </a>
                    </div>
                </div>

                <div class="profile-overview">
                    <% if(followed=='true'){ %>
                    <button pid="<%=id%>" class="stats-follow-btn followed">
                        已关注
                    </button>
                     <% }else{ %>
                    <button pid="<%=id%>" class="stats-follow-btn">
                        关注
                    </button>
                    <% } %>
                </div>
            </div>
        </script>
        <script id="tbfeed_tpl" type="text/template">

                    <% _.each(list, function(item) { %>
                    <li feedId="<%=item.id%>">
                        <div class="title"><%=item.title%></div>
                        <% if(item.coverTile){ %>
                        <div class="media">
                            <div class="item">
                                <img src="<%=item.coverTile.path%>" width="290px" height="120px"/>
                            </div>
                        </div>
                        <% } %>
                        <div class="text">
                            <%=item.summary%>
                        </div>
                        <div class="fns">
                            <div class="time"><%=timestamps(item.time)%></div>
                            <div class="comment commentIco">
                                <%=item.commentCount%>
                            </div>
                        </div>
                    </li>
                    <% }); %>
                </ul>

        </script>
        <script id="loginBar_tpl" type="text/template">
            <div class="login-bar">
                <span>登录后就能关注您喜欢的账号了</span>
                <a class="login-btn" id="J_login_btn">登陆</a>
            </div>
        </script>

        <script id="detail_header_tpl" type="text/template">
            <div class="back">
                <a href="javascript:history.back();">返回</a>
            </div>
            <div class="title">&nbsp;</div>
            <div class="btn comment comment-list">
                评论 <span>99+</span>
            </div>
        </script>
        <script id="detail_accinfo_tpl" type="text/template">
          <a href="#" class="brand">
            <img class="avatar" src="imgs/avatar.png" alt="">
            <div class="info">
              <p class="name"><%= nick %></p>
              <p class="follow">
              <% if (fansCount == 0) { %>
                还没有人关注
              <% } else { %>
                <span class="count"><%= fansCount %></span> 关注者
              <% } %>
              </p>
            </div>
          </a>
          <div class="separator"></div>
        </script>
        <script id="detail_content_tpl" type="text/template">
          <div class="main">
            <h1><%= title %></h1>
            <p class="pub-time"><%= timestamps(time) %></p>
            <% for (var i = 0; i < tiles.length; i++) { %>
                <% if (tiles[i].type == "pic") { %>
                    <div class="media"><img src="<%= tiles[i].path %>"></div>
                <% } else if (tiles[i].type == "text") { %>
                    <p><%= tiles[i].text %></p>
                <% } else if (tiles[i].type == "picItem") { %>

                <% } %>
            <% } %>

            <% if (linkUrl) { %>
                <a href="<%= linkUrl %>" class="more-content">更多内容</a>
            <% } %>
          </div>
        </script>

        <script id="comment_list_header_tpl" type="text/template">
            <div class="back">
                <a href="javascript:history.back();">返回</a>
            </div>
            <div class="title">&nbsp;</div>
            <div class="btn comment write-comment">写评论</div>
        </script>

        <script id="newComment_header_tpl" type="text/template">
            <div class="back">
                <a href="javascript:history.back();">返回</a>
            </div>
            <div class="title">&nbsp;</div>
            <div class="btn comment green publish-comment">发布</div>
        </script>

        <script id="newComment_input_tpl" type="text/template">
          <div class="comment-wrap">
          <textarea id="comment-area" placeholder="说点儿什么吧"></textarea>
          <p class="word-count"><span class="char-count">0</span> / 140</p>
          </div>
        </script>

        <!-- Templates -->

        <input type="hidden" id="J_app_key" value="4272">


        <script src="http://a.tbcdn.cn/mw/base/libs/seajs/1.2.0/sea.js"></script>
        <script>
            function timestamps(time){

                if(typeof time == 'string'){
                    time = parseInt(time);
                }

                var ONE_SECOND = 1000,
                        ONE_MINUTE = ONE_SECOND * 60,
                        ONE_HOUR   = ONE_MINUTE * 60,
                        ONE_DAY    = ONE_HOUR   * 24;

                var iTrueTime = null,
                        dNow = new Date(),
                        iNow = dNow.getTime(),
                        ret = "";

                if(typeof time == 'number'){

                    iTrueTime = time;
                } else if(typeof time == 'object'){

                    if(time.getTime){// an object of Date
                        iTrueTime = time.getTime();
                    }
                }


                if( iTrueTime != NaN){
                    var dTrueTime = new Date();
                    dTrueTime.setTime(iTrueTime);
                }

                if(iTrueTime == NaN){
                    ret = "-";
                }else if(iTrueTime > iNow){
                    ret = "您穿越了";
                } else if( iTrueTime > iNow - ONE_SECOND * 10){
                    ret = "刚刚";
                } else if( iTrueTime > iNow - ONE_MINUTE){
                    // e.g. 30秒前
                    ret = parseInt((iNow - iTrueTime) / ONE_SECOND / 10).toString() + "0秒前";
                } else if( iTrueTime > iNow - ONE_HOUR){
                    // e.g. 3分钟前
                    ret = parseInt((iNow - iTrueTime) / ONE_MINUTE) + "分钟前";
                } else if( iTrueTime > iNow - ONE_DAY){
                    // e.g. 今天11:39
                    ret = "今天" + dTrueTime.getHours() + ":" + dTrueTime.getMinutes();
                } else{
                    if(dTrueTime.getYear() == dNow.getYear()){
                        // e.g. 9月10日 07:50
                        ret = dTrueTime.getMonth() + "月" + dTrueTime.getDate() + "日 " + dTrueTime.getHours() + ":" + dTrueTime.getMinutes();
                    }else{
                        // e.g. 2011年2月3日 12:39
                        ret = dTrueTime.getFullYear() + "年" + dTrueTime.getMonth() + "月" + dTrueTime.getDate() + "日 " + dTrueTime.getHours() + ":" + dTrueTime.getMinutes();
                    }
                }

                return ret;
            }
            seajs.use('./src/app/app.js', function(app){
                //new app();
            });
            console.log(document.referrer);
        </script>

        <div id="notification" class="notification" style="opacity: 0">
          <div class="panel">
            <div class="long-message" style="display: none;">
              即将前往外部页面，页面地址是：
              <a class="external" href="http://item.taobao.com/item.htm">http://item.taobao.com/item.htm?i123456789</a>
              外部页面可能有安全隐患，请注意保护您的隐私。
            </div>
            <div class="simple-message">更新了 <strong>89</strong> 条广播</div>
            <div class="actions" style="display: none;">
              <div class="btn-wrap"><button class="confirm">确定</button></div>
              <div class="btn-wrap"><button class="cancel">取消</button></div>
              <div class="btn-wrap"><button class="retry" style="display: none;">重试</button></div>
            </div>
          </div>
        </div>
    </body>
</html>