<html><!-- manifest="/manifest/allspark.manifest" --><head _wxhkphogpkobbkjccgfifhfjlahnoocnan_="shake_1.0">
    <title>微淘</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <!--<link href="http://img03.taobaocdn.com/tps/i3/T1tv8NXCNXXXa.JOZB-114-114.png" rel="apple-touch-icon-precomposed" />-->

    <link href="http://img04.taobaocdn.com/tps/i4/T1DKVMXtBcXXa.JOZB-114-114.png" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="css/allspark.css">


<body style="background: #f8f8f8" class="">
<input type="hidden" id="J_user_nick" value="rononion">
<div id="content">
<header class="navbar " style="-webkit-transform-origin: 0px 0px; opacity: 1; -webkit-transform: scale(1, 1);">
    <div class="back">
        <a href="http://m.taobao.com">首页</a>
    </div>


    <div class="title"></div>
    <ul class="fn_btns">
        <li class="add log" data-log="addaccount">
            <div class="btn"><div></div></div>
        </li>
        <li class="refresh index">
            <div class="btn"><div class=""></div></div>
        </li>
    </ul>
</header>
<div class="tb-h5">
<div id="indexPage" class="view-page show iC">
    <div class="J_slider">
        <div class="in-slider ishide">
            <div class="in-slider-cont" style="-webkit-transform: translate3d(0px, 0px, 0px);">

                <ul id="inslist" style="-webkit-transform: translate(0px, 0px); -webkit-backface-visibility: hidden; width: 1600px; -webkit-transition: 0ms; transition: 0ms;">

                    <li style="-webkit-transform: translate(0px, 0px);" l="1">
                        <a href="http://wap.taobao.com/channel/act/pre_sale/20130328.php">
                            <img class="" height="150" width="320" src="http://img03.taobaocdn.com/tps/i3/T112xYXvNdXXcsznkr-640-280.jpg">
                        </a>
                    </li>

                    <li style="-webkit-transform: translate(0px, 0px);" l="1">
                        <a href="http://m.taobao.com/channel/act/shopping/20130326.php">
                            <img class="" height="150" width="320" src="http://img02.taobaocdn.com/tps/i2/T12HN0Xx0aXXcsznkr-640-280.jpg">
                        </a>
                    </li>

                    <li style="-webkit-transform: translate(0px, 0px);" l="1">
                        <a href="http://h5.m.taobao.com/we/index.htm#account/2006561005/1">
                            <img class="" height="150" width="320" src="http://img04.taobaocdn.com/tps/i4/T1MvVRXphaXXa7Bnkr-640-280.png">
                        </a>
                    </li>

                    <li style="-webkit-transform: translate(0px, 0px);" l="1">
                        <a href="http://wap.taobao.com/channel/act/pre_sale/20130328.php">
                            <img class="" height="150" width="320" src="http://img03.taobaocdn.com/tps/i3/T112xYXvNdXXcsznkr-640-280.jpg">
                        </a>
                    </li><li style="-webkit-transform: translate(0px, 0px); position: relative; left: -1600px;" l="1">
                    <a href="http://h5.m.taobao.com/we/index.htm#account/2006561005/1">
                        <img class="" height="150" width="320" src="http://img04.taobaocdn.com/tps/i4/T1MvVRXphaXXa7Bnkr-640-280.png">
                    </a>
                </li></ul>
            </div>
            <div class="in-slider-status"><span class="sel"></span><span class=""></span><span class=""></span></div>
        </div>
    </div>
    <div class="J_status"><div class="account-title"><span>账号动态</span></div>

        <div class="myfeed">
            <ul>



                <li feedid="6458696" snsid="2006570812" class="multimedia log" data-log="account">
                    <div class="media">
                        <div class="default">

                            <img src="http://img03.taobaocdn.com/tfscom/tuitui/i2/19831020246086162/T1PXtGXp8aXXXXXXXX_!!0-item_pic.jpg_100x100xz.jpg">

                        </div>
                    </div>

                    <div class="feed">
                        <div class="title">不知不觉的爱上了牛津鞋</div>
                        <div class="info">不知道不觉的爱上了牛津鞋的妹纸有没有，复古风小绅士的感觉。总让人感觉很赞。
                            先来一个很经典的黑白拼色牛津鞋，这个款男女的都很多人穿的说。真的很</div>
                        <div class="status">
                            <span class="time">昨天22:43</span>
                            
                                            <span class="like">
                                                
                                                    1
                                                
                                            </span>


                            <span class="name">她很帅</span>

                        </div>
                    </div>
                </li>





                <li feedid="6429825" snsid="2006513002" class="multimedia log" data-log="account">
                    <div class="media">
                        <div class="default">

                            <img src="http://img03.taobaocdn.com/tfscom/tuitui/T1Rd0YXq4eXXXXXXXX_100x100xz.jpg">

                        </div>
                    </div>

                    <div class="feed">
                        <div class="title">OPI 2013 Euro Centrale系列甲油</div>
                        <div class="info">OPI 2013年春季欧洲Euro Centrale系列！整个系列共包括12种颜色，每一个颜色都似曾相识却又那么独一无二！！</div>
                        <div class="status">
                            <span class="time">3月29日 21:39</span>
                            
                                            <span class="like">
                                                
                                                    7
                                                
                                            </span>


                            <span class="name">淘宝全球购</span>

                        </div>
                    </div>
                </li>





                <li feedid="6437181" snsid="2006572971" class="multimedia log" data-log="account">
                    <div class="media">
                        <div class="default">

                            <img src="http://img03.taobaocdn.com/tfscom/tuitui/T1ekdYXCXcXXXXXXXX_100x100xz.jpg">

                        </div>
                    </div>

                    <div class="feed">
                        <div class="title">悬挂在皮带扣上的多功能环形开瓶器</div>
                        <div class="info">环形开瓶器（Bottle Grenade）是由Brad在众筹网站Kickstarter上发起的一个募集项目 。独特的设计，可以使得它刚巧卡住瓶盖上的齿边，让你可以通过旋转</div>
                        <div class="status">
                            <span class="time">3月29日 16:16</span>


                            <span class="name">推不推</span>

                        </div>
                    </div>
                </li>





                <li feedid="6196128" snsid="2006571764" class="multimedia log" data-log="account">
                    <div class="media">
                        <div class="default">

                            <img src="http://img01.taobaocdn.com/tfscom/tuitui/T1UspOXtdbXXXXXXXX_100x100xz.jpg">

                        </div>
                    </div>

                    <div class="feed">
                        <div class="title">小拉链，大学问</div>
                        <div class="info">外贸很多是没听过的品牌，那怎样去判别这个品牌的等级高低程度呢！？
                            从辅料，比拉链来判断，以下是几个世界知名的拉链品牌（排名按等级高低）  </div>
                        <div class="status">
                            <span class="time">3月19日 16:58</span>


                            <span class="name">K</span>

                        </div>
                    </div>
                </li>





                <li feedid="6156863" snsid="2006293002" class="multimedia log" data-log="account">
                    <div class="media">
                        <div class="default">

                            <img src="http://img01.taobaocdn.com/tfscom/tuitui/T1MalLXCXhXXXXXXXX_100x100xz.jpg">

                        </div>
                    </div>

                    <div class="feed">
                        <div class="title">beauty no2</div>
                        <div class="info"></div>
                        <div class="status">
                            <span class="time">3月18日 17:27</span>


                            <span class="name">红烧鸡翅膀</span>

                        </div>
                    </div>
                </li>




            </ul>
        </div>
    </div>
    <div class="J_list" style="height: auto;">
        <div class="person-list"></div>
        <div id="personListPageNav" class="pagenav c-pnav-con"></div>
    </div>
    <footer style="display: block;">
        <span class="nick">rononion</span><a href="http://login.m.taobao.com/logout.htm">退出</a> <span class="gotop">Top <b></b></span>
    </footer>

</div>
<div id="accountListPage" class="view-page hide  iR">
    <div class="person-list"></div>
    <div id="accountListPageNav" class="pagenav c-pnav-con"></div>
</div>
<div id="accountPage" class="view-page show iC" snsid="2006570812">
<div class="J_info">
    <div snsid="2006570812" class="tb-profile">
        <div class="user-mark"></div>
        <div class="user-cover" style="background-image: url('http://img01.taobaocdn.com/tfscom/tuitui/T1j54JXrFbXXXXXXXX')">
        </div>
        <div class="user-avatar">
            <div class="default">

                <img src="http://img01.taobaocdn.com/tfscom/tuitui/T1gzBHXsdgXXXXXXXX_60x60.jpg">

            </div>
        </div>
        <div class="user-info">
            <h1>她很帅</h1>
            <h3>英伦风 vintage 复古 朋克 小清新 哈哈 疯妹纸一枚^^</h3>
        </div>
    </div>

    <div class="tb-counts">
        <div class="profile-overview">
            <div class="stats-count">
                31
            </div>
            <div class="stats-name">
                关注者
            </div>
        </div>
        <div class="profile-overview">

            <div url="http://sijijia.taobao.com/?spm=a1z10.1.w7572345568.1.4kNo2V" linkurlisext="false" class="stats-global  wwwIco"></div>

        </div>

        <div class="profile-overview">

            <button pid="2006570812" class="stats-follow-btn followed log" data-log="cancelattention">
                取消关注
            </button>

        </div>
    </div>

</div>
<div class="J_feed">
<div class="tb-feed">
<ul class="tb-feed-items">


<li feedid="6458696">
    <div class="title">不知不觉的爱上了牛津鞋</div>


    <div class="media">
        <div class="item

                                        it15407397482

                                 ">
            <img style="width: 413px; height: 413px;" src="http://img03.taobaocdn.com/tfscom/tuitui/i2/19831020246086162/T1PXtGXp8aXXXXXXXX_!!0-item_pic.jpg">
        </div>
    </div>


    <div class="text">
        不知道不觉的爱上了牛津鞋的妹纸有没有，复古风小绅士的感觉。总让人感觉很赞。
        先来一个很经典的黑白拼色牛津鞋，这个款男女的都很多人穿的说。真的很
    </div>
    <div class="fns">
        <div class="time">昨天22:43</div>

    </div>
</li>

<li feedid="6416886">
    <div class="title">怎么办，我就是爱牛仔啦！</div>


    <div class="media">
        <div class="item

                                        it19537199529

                                 ">
            <img style="width: 413px; height: 413px;" src="http://img03.taobaocdn.com/tfscom/tuitui/i4/13484020898714372/T1fFdUXu0XXXXXXXXX_!!0-item_pic.jpg_450x10000.jpg">
        </div>
    </div>


    <div class="text">
        我估计很多女孩纸都不会少于三件牛仔的东西，像这种永远都不过时的百搭单品。又怎么能少呢！
        春夏的牛仔都是以浅色为主。中长款的牛仔显高，浅色显得白
    </div>
    <div class="fns">
        <div class="time">3月29日 12:58</div>

    </div>
</li>

<li feedid="6396054">
    <div class="title">星空控妹纸集合啦。。</div>


    <div class="media">
        <div class="item

                                        it17191274865

                                 ">
            <img style="width: 413px; height: 413px;" src="http://img04.taobaocdn.com/tfscom/tuitui/i3/12979019584858363/T1030bXrtXXXXXXXXX_!!0-item_pic.jpg">
        </div>
    </div>


    <div class="text">
        不知道星空是从什么时候开始流行，但是这种元素真的突然就在市面上，到处被广泛哦，不少妹纸总会有一两件这样的元素的东西，鞋呀，T啊，包啊，等等哦。
    </div>
    <div class="fns">
        <div class="time">3月27日 23:45</div>

        <div class="comment commentIco">
            1
        </div>

    </div>
</li>

<li feedid="6344118">
    <div class="title">各种牛仔搭配，休闲菇凉最爱搭配</div>


    <div class="media">
        <div class="item ">
            <img style="width: 413px; height: 302.17940717628704px;" src="http://img04.taobaocdn.com/tfscom/tuitui/T1X7JTXx4aXXXXXXXX_450x10000.jpg">
        </div>
    </div>


    <div class="text">
        现在这个天气，在南方穿毛衣的已经很少咯，都是一件外套加件T恤就可以，牛仔外套当然是百搭的好时机了哦。
        搭配个宝蓝色的短裤。显得肤色很白。
    </div>
    <div class="fns">
        <div class="time">3月25日 22:24</div>

    </div>
</li>

<li feedid="6272330">
    <div class="title">各种衬衫搭配你们都学会了吗？</div>


    <div class="media">
        <div class="item ">
            <img style="width: 413px; height: 413px;" src="http://img02.taobaocdn.com/tfscom/tuitui/T1gzdOXrlhXXXXXXXX_450x10000.jpg">
        </div>
    </div>


    <div class="text">
        hoho 清爽型，碎花搭配枚红色裤子，度假穿这样好清新。
    </div>
    <div class="fns">
        <div class="time">3月22日 15:00</div>

        <div class="comment commentIco">
            6
        </div>

    </div>
</li>

<li feedid="6169421">
    <div class="title">马儿裙</div>


    <div class="media">
        <div class="item

                                        it17047557887

                                 ">
            <img style="width: 413px; height: 413px;" src="http://img02.taobaocdn.com/tfscom/tuitui/i1/12419019361986621/T16csZXkFeXXXXXXXX_!!0-item_pic.jpg_310x310xz.jpg">
        </div>
    </div>


    <div class="text">
        当然偶尔还是要小淑女一下，其实这样也不算是什么淑女的勒，但是当牛仔裤什么的穿腻了的时候，还是喜欢上个T恤裙然后配个打底裤跨个包就逛街咯，舒适度
    </div>
    <div class="fns">
        <div class="time">3月19日 0:15</div>

    </div>
</li>

<li feedid="6171308">
    <div class="title">霸气狮子</div>


    <div class="media">
        <div class="item

                                        it19333939093

                                 ">
            <img style="width: 413px; height: 413px;" src="http://img01.taobaocdn.com/tfscom/tuitui/i3/14499022315047906/T1hktJXsJbXXXXXXXX_!!0-item_pic.jpg_460x460xz.jpg">
        </div>
    </div>


    <div class="text">
        霸气死了，貌似今年的夏天的T还是以动物为主，狮子呀，狼呀，鹰头呀等等滴，对于狮子座的我来说，看到如此霸气的狮子当然要推荐下咯。上身效果肯定也不
    </div>
    <div class="fns">
        <div class="time">3月19日 0:11</div>

    </div>
</li>

<li feedid="6170365">
    <div class="title">燕子往哪飞</div>


    <div class="media">
        <div class="item

                                        it17489794933

                                 ">
            <img style="width: 413px; height: 413px;" src="http://img04.taobaocdn.com/tfscom/tuitui/i1/17613020252594929/T1NRxFXyxaXXXXXXXX_!!0-item_pic.jpg_310x310xz.jpg">
        </div>
    </div>


    <div class="text">
        这个印花真是太美丽了。真的好有感觉的说呀。颜色搭配非常的赞。气质的东西总是很容易把人的注意力给吸走，美惨了这款衬衫！
    </div>
    <div class="fns">
        <div class="time">3月19日 0:06</div>

    </div>
</li>

<li feedid="6115593">
    <div class="title">满城尽是花</div>


    <div class="media">
        <div class="item

                                        it20205844672

                                 ">
            <img style="width: 413px; height: 413px;" src="http://img03.taobaocdn.com/tfscom/tuitui/i2/16962020484817213/T1vY8JXxBfXXXXXXXX_!!0-item_pic.jpg_460x460xz.jpg">
        </div>
    </div>


    <div class="text">
        很气质，9分的长度，搭配单鞋和高跟鞋都会好看。颜色不会非常的艳，所以会是显瘦的款式，看到这种裤子我都会想起韩剧的某些女猪脚好像都这样搭配一个高
    </div>
    <div class="fns">
        <div class="time">3月16日 23:25</div>

    </div>
</li>

<li feedid="6116497">
    <div class="title">蝴蝶结</div>


    <div class="media">
        <div class="item ">
            <img style="width: 413px; height: 413px;" src="http://img03.taobaocdn.com/tfscom/tuitui/T13N4LXuRcXXXXXXXX_460x460xz.jpg">
        </div>
    </div>


    <div class="text">
        有时候黑色让人觉得沉闷，但是有时候又给人气质和冷艳的气息。纯黑色的衬衫大蝴蝶结和灯笼袖真是设计的恰到好处，妹纸漂染的发色和鞋纸的颜色真是有上
    </div>
    <div class="fns">
        <div class="time">3月16日 23:15</div>

    </div>
</li>

<li feedid="6092847">
    <div class="title">最舒适莫过于T恤</div>


    <div class="media">
        <div class="item ">
            <img style="width: 413px; height: 389.5156862745098px;" src="http://img03.taobaocdn.com/tfscom/tuitui/T1SSpJXq0fXXXXXXXX_450x10000.jpg">
        </div>
    </div>


    <div class="text">
        对于我这些上长下短短脚怪来说，中长款是最爱的了。因为酱紫搭配个打底裤就可以遮住脚短的缺点然后对着镜子幻想下我其实脚还是蛮长的。哈哈。大大咧咧
    </div>
    <div class="fns">
        <div class="time">3月16日 0:01</div>

    </div>
</li>

<li feedid="6090821">
    <div class="title">狂躁妹纸爱迷彩</div>


    <div class="media">
        <div class="item ">
            <img style="width: 413px; height: 413px;" src="http://img03.taobaocdn.com/tfscom/tuitui/T1M3BKXxRdXXXXXXXX_460x460xz.jpg">
        </div>
    </div>


    <div class="text">
        迷彩+柳钉，绝对是狂躁妹纸的最爱~~必须耍帅到底。背心加超短裤再搭配一双马丁靴，欧美风是不是立即出现在脑海里，哈哈·~然后手臂还纹了个大纹身。好
    </div>
    <div class="fns">
        <div class="time">3月15日 23:51</div>

    </div>
</li>

<li feedid="6091775">
    <div class="title">噢，shint,是谁在摸的我大腿</div>


    <div class="media">
        <div class="item ">
            <img style="width: 413px; height: 413px;" src="http://img01.taobaocdn.com/tfscom/tuitui/T1EsdJXBNgXXXXXXXX_460x460xz.jpg">
        </div>
    </div>


    <div class="text">
        喜欢这种带着趣味性的衣服~~玩味又戴着野性叛逆的感觉·~~叛逆就会想起自己以前学校时间的好多事情喔。。。额，好吧，我又跑题了。哈哈！
    </div>
    <div class="fns">
        <div class="time">3月15日 23:43</div>

    </div>
</li>

<li feedid="6089824">
    <div class="title">春天在这里</div>


    <div class="media">
        <div class="item ">
            <img style="width: 413px; height: 321.50461538461536px;" src="http://img03.taobaocdn.com/tfscom/tuitui/T1ijVsXyFhXXXXXXXX_450x10000.jpg">
        </div>
    </div>


    <div class="text">
        一年之计在于春，春天是到处绿色，鸟语花香的好季节，到处都充满了生机勃勃的气氛，所以做个花姑娘是必须滴。
    </div>
    <div class="fns">
        <div class="time">3月15日 22:08</div>

    </div>
</li>

<li feedid="6077941">
    <div class="title">vintage 复古衬衫裙</div>


    <div class="media">
        <div class="item

                                        it16467278802

                                 ">
            <img style="width: 413px; height: 413px;" src="http://img03.taobaocdn.com/tfscom/tuitui/i2/T1S63dXaRXXXb15MZZ_032437.jpg_460x460xz.jpg">
        </div>
    </div>


    <div class="text">
        对于vintage的东西总是无法抗拒，年代感的东西总存在着一种回忆的气息。回忆总是美好的。所以，复古又有多少人能够抗拒呢？
        衬衫总是给人一种干练的感
    </div>
    <div class="fns">
        <div class="time">3月15日 16:42</div>

    </div>
</li>



</ul>
<div id="feedPageNav" class="pagenav c-pnav-con"><section class="c-p-sec"><div class="c-p-pre c-p-grey"><span class="c-p-p"><em></em></span><a>上一页</a></div><div class="c-p-cur"><div class="c-p-arrow c-p-down"><span>1/2</span><span></span></div><select class="c-p-select"><option>第1页</option><option>第2页</option></select></div><div class="c-p-next"><a>下一页</a><span class="c-p-p"><em></em></span></div></section></div>
</div>
</div>
</div>
<div id="detailPage" class="view-page hide  iR detail">
    <div class="account"></div>
    <div class="main"></div>
</div>
<div id="commentListPage" class="view-page hide  iR comment">
</div>
<div id="newCommentPage" class="view-page hide iR new-comment">
</div>

</div>

</div>

<div id="notification" class="notification" style="display: none;">
    <div class="panel">
        <div class="long-message" style="display: none;">
            即将前往外部页面，页面地址是：
            <a class="external" href="http://item.taobao.com/item.htm" target="_blank">http://item.taobao.com/item.htm?i123456789</a>
            外部页面可能有安全隐患，请注意保护您的隐私。
        </div>
        <div class="simple-message">更新了 <strong>89</strong> 条广播</div>
        <div class="actions" style="display: none;">
            <div class="btn-wrap"><button class="confirm">确定</button></div>
            <div class="btn-wrap"><button class="cancel">取消</button></div>
            <div class="btn-wrap" style="display: none;"><button class="retry">重试</button></div>
        </div>
    </div>
</div>

<!-- Templates -->
<script id="navBack_tpl" type="text/template">
    <div class="back">
        <a href="<%=backUrl%>"><%=backTitle%></a>
    </div>

</script>
<script id="homeTitle_tpl" type="text/template">
    <div class="title"></div>
    <ul class="fn_btns">
        <li class="add log" data-log="addaccount">
            <div class="btn"><div></div></div>
        </li>
        <li class="refresh index">
            <div class="btn"><div></div></div>
        </li>
    </ul>
</script>
<script id="accountTitle_tpl" type="text/template">
    <div class="title"></div>
    <ul class="fn_btns">
        <li class="refresh account">
            <div class="btn"><div></div></div>
        </li>
    </ul>
</script>
<script id="accountListTabBar_tpl" type="text/template">
    <div class="tab-bar">
        <ul>
            <li class="log" data-log="notfoucus">未关注</li>
            <li class="log" data-log="foucus">已关注</li>
        </ul>
    </div>
</script>
<script id="detail_header_tpl" type="text/template">
    <div class="back">
        <a href="<%= href %>">返回</a>
    </div>
    <div class="title">&nbsp;</div>
    <ul class="fn_btns">
        <li class="comment to-comment-list log" data-log="commentlist">
            <div class="btn">评论 <span></span></div>
        </li>
    </ul>
</script>
<script id="comment_list_header_tpl" type="text/template">
    <div class="back">
        <a href="<%= href %>">返回</a>
    </div>
    <div class="title">&nbsp;</div>
    <ul class="fn_btns">
        <li class="comment write-comment log" data-log="addcomment">
            <div class="btn">写评论</div>
        </li>
    </ul>
</script>
<script id="newComment_header_tpl" type="text/template">
    <div class="back">
        <a href="<%= href %>">返回</a>
    </div>
    <div class="title">&nbsp;</div>
    <ul class="fn_btns">
        <li class="comment publish-comment">
            <div class="btn green">发布</div>
        </li>
    </ul>
</script>

<script id="slider_tpl" type="text/template">
    <div class="in-slider ishide">
        <div class="in-slider-cont" style="-webkit-transform: translate3d(0px, 0px, 0px);">

            <ul id="inslist" style="-webkit-transform: translate3d(0px, 0px, 0px); -webkit-backface-visibility: hidden; width: <%=width %>px; -webkit-transition: 0ms;">
                <% _.each(list, function(item) { %>
                <li style="-webkit-transform: translate3d(0px, 0px, 0px);">
                    <a href="<%=item.url %>">
                        <img class="lazyimg" height="150" width="320" dataimg="<%=item.picture %>" src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif">
                    </a>
                </li>
                <% }); %>
            </ul>
        </div>
        <div class="in-slider-status">

        </div>
    </div>
</script>
<script id="myList_tpl" type="text/template">
    <ul>
        <% _.each(list, function(item) { %>
        <li>
            <div snsid="<%=item.id%>" class="content">
                <div class="title"><%=item.nick%></div>
                <div class="info"><%=item.description%></div>
                <div class="follows"><span><%=item.fansCount%></span>关注者</div>
                <div class="default">
                    <% if(item.logoUrl){ %>
                    <img src="<%=getImgUrl(item.logoUrl,100,60)%>">
                    <% } %>
                </div>
            </div>
        </li>
        <% }); %>
    </ul>
</script>
<script id="personList_tpl" type="text/template">
    <ul>
        <% _.each(list, function(item) { %>
        <li>
            <div snsid="<%=item.id%>" class="content log" data-log="account">
                <div class="title"><%=item.nick%></div>
                <div class="info"><%=item.description%></div>
                <div class="follows"><span><%=item.fansCount%></span>关注者</div>
                <div class="default">
                    <% if(item.logoUrl){ %>
                    <img src="<%=getImgUrl(item.logoUrl,100,60)%>">
                    <% } %>
                </div>
            </div>
            <% if(item.followed=='true'){ %>
            <button pid="<%=item.id%>" class="followbtn followed log" data-log="cancelattention">取消关注</button>
            <% }else{ %>
            <button pid="<%=item.id%>" class="followbtn log" data-log="attention">关注</button>
            <% }%>
        </li>
        <% }); %>
    </ul>
</script>
<script id="recommendtip_tpl" type="text/template">
    <div class="recommendtip">您还没有关注任何账号哦，看看我们的推荐吧！</div>
</script>
<script id="myfeed_tpl" type="text/template">

    <div class="myfeed">
        <ul>
            <% _.each(list, function(item) { %>
            <% if(item.firstFeed){ %>
            <% if(item.firstFeed.coverTile&&item.firstFeed.coverTile.path) {%>
            <li feedId="<%=item.firstFeed.id%>" snsid="<%=item.firstFeed.creatorId%>" class="multimedia log" data-log="account">
                <div class="media">
                    <div class="default">
                        <% if(item.firstFeed.coverTile.path){ %>
                        <img src="<%=getImgUrl(item.firstFeed.coverTile.path,170,100,true)%>">
                        <% } %>
                    </div>
                </div>
                <% }else{ %>
            <li feedId="<%=item.firstFeed.id%>" snsid="<%=item.firstFeed.creatorId%>" class="log" data-log="account">
                <% } %>
                <div class="feed">
                    <div class="title"><%=item.firstFeed.title%></div>
                    <div class="info"><%=item.firstFeed.summary%></div>
                    <div class="status">
                        <span class="time"><%=timestamps(item.firstFeed.time)%></span>
                        <%if (item.unreadCount>0){ %>
                                            <span class="like">
                                                <%if (item.unreadCount>9){ %>
                                                9+
                                                <% }else{ %>
                                                    <%=item.unreadCount%>
                                                <% } %>
                                            </span>
                        <% } %>
                        <% if(item.account){ %>
                        <span class="name"><%=item.account.nick%></span>
                        <% } %>
                    </div>
                </div>
            </li>
            <% } %>

            <% }); %>

        </ul>
    </div>
</script>

<script id="accountinfo_tpl" type="text/template">
    <div snsid="<%=id%>" class="tb-profile">
        <div class="user-mark"></div>
        <div class="user-cover" style="<% if(backgroundImg){ %>background-image: url('<%=backgroundImg%>')<% } %>">
        </div>
        <div class="user-avatar">
            <div class="default">
                <% if(logoUrl){ %>
                <img src="<%=getImgUrl(logoUrl,100,60)%>">
                <% } %>
            </div>
        </div>
        <div class="user-info">
            <h1><%=nick%></h1>
            <h3><%=description%></h3>
        </div>
    </div>
    <% if(noHelper(accountType)){ %>
    <div class="tb-counts">
        <div class="profile-overview">
            <div class="stats-count">
                <%=fansCount%>
            </div>
            <div class="stats-name">
                关注者
            </div>
        </div>
        <div class="profile-overview">

            <div url="<%=url%>" linkUrlIsExt="<%=linkUrlIsExt%>" class="stats-global <% if(url==''){ %> stats-global-disable <% } %> wwwIco"></div>

        </div>

        <div class="profile-overview">
            <% if(followed=='true'){ %>
            <button pid="<%=id%>" class="stats-follow-btn followed log" data-log="cancelattention">
                取消关注
            </button>
            <% }else{ %>
            <button pid="<%=id%>" class="stats-follow-btn log" data-log="attention">
                关注
            </button>
            <% } %>
        </div>
    </div>
    <% } %>
</script>
<script id="tbfeed_tpl" type="text/template">

    <% _.each(list, function(item) { %>
    <li feedId="<%=item.id%>">
        <div class="title"><%=item.title%></div>
        <% if(item.coverTile){ %>
        <% if(item.coverTile.path){%>
        <div class="media">
            <div class="item <% if(item.coverTile.item){ %>
                                    <% if(item.coverTile.item){ %>
                                        it<%=item.coverTile.item.id%>
                                    <% } %>
                                 <% } %>" >
                <img style="<%=feedImageSizeStyle(parseInt(item.coverTile.picWidth), parseInt(item.coverTile.picHeight)) %>"  src="<%=resizeImg({'url':item.coverTile.path,'expWidth':window.innerWidth,'rWidth':parseInt(item.coverTile.picWidth),'rHeight':parseInt(item.coverTile.picHeight),'isXz':true}).url%>"/>
            </div>
        </div>
        <% } %>
        <% } %>
        <div class="text">
            <%=item.summary%>
        </div>
        <div class="fns">
            <div class="time"><%=timestamps(item.time)%></div>
            <% if(item.commentCount!=0) {%>
            <div class="comment commentIco">
                <%=item.commentCount%>
            </div>
            <% }%>
        </div>
    </li>
    <% }); %>
    </ul>

</script>
<script id="loginBar_tpl" type="text/template" disable="">
    <div class="login-bar">
        <span>登录后就能关注您喜欢的账号了</span>
        <a class="login-btn log" data-log="login" id="J_login_btn">登录</a>
    </div>
</script>


<script id="detail_accinfo_tpl" type="text/template">
    <a href="#account/<%= snsId %>" class="brand">
        <div class="default">
            <% if(logoUrl){ %>
            <img class="avatar" src="<%=getImgUrl(logoUrl,100,60)%>"/>
            <% } %>
        </div>
        <div class="info">
            <p class="name"><%= nick %></p>
            <% if(noHelper(accountType)){ %>
            <p class="follow">
                <% if (fansCount == 0) { %>
                还没有人关注
                <% } else { %>
                <span class="count"><%= fansCount %></span> 关注者
                <% } %>
            </p>
            <% } %>
        </div>
    </a>
    <div class="separator"></div>
</script>
<script id="detail_content_tpl" type="text/template">
    <h1><%= title %></h1>
    <% if (time) { %>
    <p class="pub-time"><%= timestamps(time) %></p>
    <% } %>
    <% for (var i = 0; i < tiles.length; i++) { %>
    <% if (tiles[i].type == "pic") { %>
    <div class="media"><img src="<%= getBetterImg(tiles[i].path, window.innerWidth-30, parseInt(tiles[i].picWidth)) %>"
                            style="<%= detailImageSizeStyle(tiles[i].picWidth, tiles[i].picHeight) %>">
    </div>
    <% } else if (tiles[i].type == "text") { %>
    <p class="text"><%= tiles[i].text.replace(/(\n)+/g, '<br /><br />') %></p>
    <% } else if (tiles[i].type == "picItem") { %>
    <div class="media">
        <a style="display: block" href="<%= getItemDetailUrl('a', { itemId: tiles[i].item.id }) %>" class="item" data-id="<%= tiles[i].item.id %>">
            <img src="<%= getBetterImg(tiles[i].path, window.innerWidth-30, parseInt(tiles[i].picWidth)) %>"
                 style="<%= detailImageSizeStyle(tiles[i].picWidth, tiles[i].picHeight) %>">
            <div class="price" style="display: none;"></div>
        </a>
    </div>
    <% } %>
    <% } %>

    <% if (linkUrl) { %>
    <a href="<%= linkUrl %>" class="more-content">
        <span class="link-icon"></span>
        <span class="link-title"><%= linkTitle || '更多内容' %></span></a>
    <% } %>
</script>



<script id="comment_list_tpl" type="text/template">
    <ul class="comment-list">
        <% for (var i = 0; i < list.length; i++) { %>
        <li>
            <div class="user-info">
                <div class="default">
                    <%if(list[i].createrPic){%>
                    <img  src="<%= list[i].createrPic %>">
                    <% } %>
                </div>
                <div class="info">
                    <p class="user-name"><%= list[i].createrName %></p>
                    <p class="pub-time"><%= timestamps(list[i].time) %></p>
                </div>
            </div>
            <div class="user-comment">
                <%- list[i].content %>
            </div>
            <div class="separator"></div>
        </li>
        <% } %>
    </ul>
    <div id="commentListPageNav" class="pagenav"></div>
</script>
<script id="newComment_input_tpl" type="text/template">
    <div class="comment-wrap">
        <textarea id="comment-area" placeholder="说点儿什么吧"></textarea>
        <p class="word-count"><span class="char-count">0</span> / 140</p>
    </div>
</script>
<div style="display: none">
    <footer class="footer c-footer " style="display: block;">
        <section class="footer-t c-footer-t">
            <p class="user-info c-user-info">
						                                                 <span><a class="user-login" href="http://my.m.taobao.com/myTaobao.htm
">rononion</a></span><span><a id="J_footer_logout" href="http://login.m.taobao.com/logout.htm?tpl_redirect_url=http%3A%2F%2Fh5.m.taobao.com%2Fwe%2Findex.htm%3Fsid%3D86b40da588234a6ccd26eb349fcc8eec%26an%3D1&amp;pds=logout%23h%23">退出</a></span>
            </p>
            <p class="gotop c-gotop"><a id="J_GoTop" href="javascript:scroll(0,0)">top<b> </b></a></p>
        </section>
        <nav class="footer-l c-footer-l">
            <a href="http://m.taobao.com/?v=1&amp;pds=stedition%23h%23" title="">标准版</a><a href="http://www.taobao.com/index.php?from=wap&amp;pds=pcedition%23h%23&amp;sprefer=pmm302" title="">电脑版</a>

            <a id="J_imgViewType" href="javascript:void(0)" class="J_dps" data-dps="hdedition%23h%23" style="display:none;"></a>
        </nav>
        <p class="copyright c-copyright">©2012 浙B2-20080224<a class="cr-sv c-cr-sv" href="http://m.taobao.com/channel/act/customerservice.html?pds=service%23h%23" id="J_service">客服</a></p>
        <p class="taofontdown" style="display:none">预加载淘+字体</p>
    </footer>

    <input type="hidden" id="J_app_key" value="12574478">
</div>
<script src="http://a.tbcdn.cn/mw/base/libs/seajs/1.2.0/sea.js"></script>
<script>
//    seajs.use('./src/app/allspark.js', function(app){
//        //new app();
//    });

</script>


</body></html>