<!DOCTYPE html>
<html>
<head>
    <title>微淘</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta charset="utf-8"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)"/>
    <link href="http://a.tbcdn.cn/mw/webapp/allspark/wetaoIcon.png" rel="apple-touch-icon-precomposed"/>
    <link href="css/allspark.css" rel="stylesheet" type="text/css">
    <script>
        (function() {
            wetao={timers:{},addTimer:function(name){
                wetao.timers[name] = (new Date).getTime();
            }};
            function l() {
                wetao.addTimer('load');
            }
            window.addEventListener ? window.addEventListener("load", l, !1) : window.attachEvent && window.attachEvent("onload", l);
        })();
    </script>
</head>
<body style="background: #f8f8f8">
<div id="content">
    <header class="navbar" style="display: none"></header>
    <div class="tb-h5">
        <div id="indexPage" class="view-page show">
            <div class="J_status"></div>
            <div>
                <ul class="feed-list"></ul>
                <div id="timeLinePageNav" class="pagenav c-pnav-con"></div>
                <footer>
                    <div class="loginStatus">
                        <a class="login">登录</a><a class="reg"
                                                  href="http://u.m.taobao.com/reg/newUser.htm?tpl_redirect_url=http://h5.m.taobao.com/we/index.htm">注册</a>
                        <span class="nick"></span><a class="logout"
                                                     href="http://login.m.taobao.com/logout.htm?tpl_redirect_url=http://h5.m.taobao.com/we/index.htm">退出</a>
                        <span class="gotop">Top <b></b></span>

                    </div>
                    <div class="hdButton">
                    </div>
                </footer>
            </div>


        </div>
        <div id="favoritePage" class="view-page hide iR">
            <ul class="feed-list">
            </ul>
            <div id="favoritePageNav" class="pagenav c-pnav-con"></div>
        </div>
        <div id="accountListPage" class="view-page hide  iR">
            <div class="person-list"></div>
            <div id="accountListPageNav" class="pagenav c-pnav-con"></div>
        </div>
        <div id="accountPage" class="view-page hide iR">
            <div class="J_info"></div>
            <div class="J_feed">
                <div class="tb-feed">
                    <ul class="tb-feed-items"></ul>
                    <div id="feedPageNav" class="pagenav c-pnav-con"></div>
                </div>
            </div>
        </div>
        <div id="detailPage" class="view-page hide iR detail">
            <div class="account"></div>
            <div class="separator"></div>
            <div class="main"></div>
        </div>

        <div id="accountManage" class="view-page hide iR">
            <div id="J-searchListPage">
                <div class="account-search">
                    <div class="search-item">
                        <div class="search-input"><input id="J-keyword" type="text" name="" placeholder="请输入微淘帐号名称"/><a href="#" class="close-btn"></a></div><button class="search-icon" id="J-searchBtn"></button>
                    </div>
                    <div class="add-public-account">
                        <div class="info">关注更多公共帐号</div>
                        <span class="icon"></span>
                        <em class="arrow"></em>
                    </div>

                    <div class="person-list">
                        <h3 class="follows-count">已关注的微淘帐号 <span id="J-num"></span></h3>
                        <ul id="J-personList">
                        </ul>
                    </div>
                </div>
            </div>
            <div id="J-searchListPageNav" class="pagenav c-pnav-con"></div>
        </div>
        <div id="searchResult" class="view-page hide iR">
            <div id="J-searchResult">
                <div class="account-search">
                    <div class="search-item">
                        <div class="search-input"><input id="J-searchkeyword" type="text" name="" placeholder="请输入微淘帐号名称"/><a href="#" class="close-btn"></a></div><button class="search-icon" id="J-searchBtn"></button>
                    </div>
                    <div class="person-list">
                        <ul id="J-searchResultList">
                        </ul>
                    </div>
                </div>
            </div>
            <div id="J-searchResultPageNav" class="pagenav c-pnav-con"></div>
        </div>
        <div id="recommendResult" class="view-page hide iR">
            <div id="J-recommendResult">
                <div class="account-search">
                    <div class="person-list">
                        <ul id="J-recommendList">
                        </ul>
                    </div>
                </div>
            </div>
            <div id="J-recommendPageNav" class="pagenav c-pnav-con"></div>
        </div>



        <div id="commentListPage" class="view-page hide  iR comment">
            <div class="add-comment">
                <textarea id="add-comment-area" class="field" name="" placeholder="添加评论" rows="1"></textarea>
                <button class="send-button log" data-log="send_button">发送</button>
                <p class="char-count" style="display: none"><span class="counter">0</span> / <span>140</span></p>
            </div>
            <div class="main">
            </div>
        </div>
        <div id="newCommentPage" class="view-page hide iR new-comment">
        </div>
        <div id="recCommentPage" class="view-page hide iR rec-comment">
            <!--             <ul class="comment-list">
                            <li>
                                <div class="user-info">
                                    <div class="default">

                                        <img src="http://wsapi.jianghu.daily.taobao.net/avatar/get_avatar.do?userId=179051023&amp;width=100&amp;height=100&amp;type=sns">

                                    </div>
                                    <div class="info">
                                        <p class="user-name">qd_test_001</p>

                                        <p class="pub-time">今天14:10</p>
                                    </div>

                                        <button class="reply-button" authorid="7000084652" authornick="qd_test_001" parentid="1332003">回复</button>

                                </div>
                                <div class="user-comment">
                                    OneTwoThree
                                </div>
                                <div class="my-comment">
                                    我的评论：好有趣，原来衣服还可以这样搭配，赞！这样搭配，赞！！！！！
                                </div>
                                <div class="separator"></div>
                            </li>
                        </ul>
             -->        </div><!-- end of RecCommentPage -->
    </div>

</div>

<div id="notification" class="notification" style="display: none;">
    <div class="panel">
        <div class="long-message" style="display: none;">
            即将前往外部页面，页面地址是：
            <a class="external" href="http://item.taobao.com/item.htm" target="_blank">http://item.taobao.com/item.htm?i123456789</a>
            外部页面可能有安全隐患，请注意保护您的隐私。
        </div>
        <div class="simple-message">更新了 <strong>89</strong> 条广播</div>
        <div class="actions" style="display: none;">
            <div class="btn-wrap">
                <button class="confirm">确定</button>
            </div>
            <div class="btn-wrap">
                <button class="cancel">取消</button>
            </div>
            <div class="btn-wrap" style="display: none;">
                <button class="retry">重试</button>
            </div>
        </div>
    </div>
</div>

<!-- Templates -->
<script id="navBack_tpl" type="text/template">
    <div class="back log" data-log="account_back">
        <a href="<%=backUrl%>"><%=backTitle%></a>
    </div>

</script>
<script id="homeTitle_tpl" type="text/template">
    <div class="title"></div>
    <ul class="fn_btns">

        <li class="add log" data-log="addaccount">
            <div class="btn">
                <div></div>
            </div>
        </li>
        <li class="refresh index log" data-log="Refresh" >
            <div class="btn">
                <div></div>
            </div>
        </li>
    </ul>
</script>
<script id="accountTitle_tpl" type="text/template">
    <div class="title"></div>
    <ul class="fn_btns">
        <li class="refresh account log" data-log="Refresh">
            <div class="btn">
                <div></div>
            </div>
        </li>
    </ul>
</script>
<script id="accountListTabBar_tpl" type="text/template">
    <div class="tab-bar">
        <ul>
            <li class="log" data-log="notfoucus">未关注</li>
            <li class="log" data-log="foucus">已关注</li>
        </ul>
    </div>
</script>

<script id="index_logedheader_tpl" type="text/template">
    <div class="back log" data-log="index_back">
        <a href="http://m.taobao.com">首页</a>
    </div>

    <ul class="fn_btns">
        <li class="comments log" data-log="recComment">
            <div class="btn">
                <div class="icon-received-comments"><span class="count" style="display: none;"></span></div>
            </div>
        </li>
        <li class="favs log" data-log="favs">
            <div class="btn">
                <div></div>
            </div>
        </li>
        <li class="add log" data-log="addaccount">
            <div class="btn">
                <div></div>
            </div>
        </li>
        <li class="refresh index log" data-log="Refresh">
            <div class="btn">
                <div class=""></div>
            </div>
        </li>
    </ul>
</script>
<script id="index_header_tpl" type="text/template">
    <div class="back log" data-log="index_back">
        <a href="http://m.taobao.com">首页</a>
    </div>

    <ul class="fn_btns">
        <li class="add log" data-log="addaccount">
            <div class="btn">
                <div></div>
            </div>
        </li>
        <li class="refresh index log" data-log="Refresh">
            <div class="btn">
                <div class=""></div>
            </div>
        </li>
    </ul>
</script>
<script id="favorite_header_tpl" type="text/template">
    <div class="back log" data-log="fav_back">
        <a>返回</a>
    </div>
    <div class="title">收藏的广播</div>
    <ul class="fn_btns">
        <li class="refresh favorite log" data-log="Refresh">
            <div class="btn">
                <div></div>
            </div>
        </li>
    </ul>
</script>
<script id="hot_feedhd_tpl" type="text/template">
    <div class="hotfeedhd">
        <hr/>
        热门广播
    </div>
</script>
<script id="favorite_feed_tpl" type="text/template">
    <% for (var i = 0; i < list.length; i++) { %>
    <li>
        <div class="feed-item">
            <div snsid="<%=list[i].account.id%>" feedid="<%=list[i].firstFeed.id%>"
                 class="js_feed <%= isSquareImg(list[i].firstFeed.coverTile) ? 'feed-box' : '' %>">
                <div class="<%= isSquareImg(list[i].firstFeed.coverTile) ? 'feed-text' : 'feed-alltext' %>">
                    <p class="title"><%= list[i].firstFeed.title %></p>

                    <p class="feed-info">
                        <span class="icon-clock pub-time"><%= timestamps(list[i].firstFeed.time) %></span>
                        <% if(parseInt(list[i].firstFeed.commentCount)>0){ %>
                        <span class="icon-comment cmt-count"><%= list[i].firstFeed.commentCount %></span>
                        <% } %>
                    </p>
                    <% if (isLongImg(list[i].firstFeed.coverTile)) { %>
                    <img class="lazy"
                         style="<%= detailImageSizeStyle(list[i].firstFeed.coverTile.picWidth, list[i].firstFeed.coverTile.picHeight) %>"
                         dataimg="<%= getBetterImg(list[i].firstFeed.coverTile.path, window.innerWidth-30, list[i].firstFeed.coverTile.picWidth) %>"
                         src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif">
                    <% } %>

                    <% if (isLongImg(list[i].firstFeed.coverTile)) { %>
                    <p class="summary"><%= list[i].firstFeed.summary %></p>
                    <% } else { %>
                    <p class="text"><%= list[i].firstFeed.summary %></p>
                    <% } %>
                </div>
                <% if (isSquareImg(list[i].firstFeed.coverTile)) { %>
                <img class="lazy" width="120px" height="120px"
                     dataimg="<%=resizeImg({'url':list[i].firstFeed.coverTile.path,'isXz':true,'expWidth':120,'expHeight':120,'rWidth':parseInt(list[i].firstFeed.coverTile.picWidth),'rHeight':parseInt(list[i].firstFeed.coverTile.picHeight)}).url %>"
                     src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif">
                <% } %>
            </div>
            <a onclick="changeHash('#account/<%= list[i].account.id %>','fav')" class="account">
                <div class="default">
                    <% if(list[i].account.logoUrl){ %>
                    <img class="avatar lazy" dataimg="<%= getImgUrl(list[i].account.logoUrl, 100, 60) %>"
                         src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif">
                    <% } %>
                </div>
                <p class="name"><%= list[i].account.nick %></p>

            </a>
            <div class="favbtn <% if(list[i].firstFeed.isLiked =='1'){%> faved <% } %> log" data-log="<% if(list[i].firstFeed.isLiked =='1'){%>cancelfaved<% }else{ %>addfav<%} %>"></div>
        </div>
        <div class="separator"></div>
    </li>
    <% } %>
</script>
<script id="index_feed_tpl" type="text/template">
    <% for (var i = 0; i < list.length; i++) { %>
    <li>
        <div class="feed-item">
            <div snsid="<%=list[i].account.id%>" feedid="<%=list[i].firstFeed.id%>"
                 class="js_feed <%= isSquareImg(list[i].firstFeed.coverTile) ? 'feed-box' : '' %>">
                <div class="<%= isSquareImg(list[i].firstFeed.coverTile) ? 'feed-text' : 'feed-alltext' %>">
                    <p class="title"><%= list[i].firstFeed.title %></p>

                    <p class="feed-info">
                        <span class="icon-clock pub-time"><%= timestamps(list[i].firstFeed.time) %></span>
                        <% if(parseInt(list[i].firstFeed.commentCount)>0){ %>
                        <span class="icon-comment cmt-count"><%= list[i].firstFeed.commentCount %></span>
                        <% } %>
                    </p>
                    <% if (isLongImg(list[i].firstFeed.coverTile)) { %>
                    <img class="lazy"
                         style="<%= detailImageSizeStyle(list[i].firstFeed.coverTile.picWidth, list[i].firstFeed.coverTile.picHeight) %>"
                         dataimg="<%= getBetterImg(list[i].firstFeed.coverTile.path, window.innerWidth-30, list[i].firstFeed.coverTile.picWidth) %>"
                         src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif">
                    <% } %>

                    <% if (isLongImg(list[i].firstFeed.coverTile)) { %>
                    <p class="summary"><%= list[i].firstFeed.summary %></p>
                    <% } else { %>
                    <p class="text"><%= list[i].firstFeed.summary %></p>
                    <% } %>
                </div>
                <% if (isSquareImg(list[i].firstFeed.coverTile)) { %>
                <img class="lazy" width="120px" height="120px"
                     dataimg="<%=resizeImg({'url':list[i].firstFeed.coverTile.path,'isXz':true,'expWidth':120,'expHeight':120,'rWidth':parseInt(list[i].firstFeed.coverTile.picWidth),'rHeight':parseInt(list[i].firstFeed.coverTile.picHeight)}).url %>"
                     src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif">
                <% } %>
            </div>
            <a onclick="changeHash('#account/<%= list[i].account.id %>','index')" class="account">
                <div class="default">
                    <% if(list[i].account.logoUrl){ %>
                    <img class="avatar lazy" dataimg="<%= getImgUrl(list[i].account.logoUrl, 100, 60) %>"
                         src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif">
                    <% } %>
                </div>
                <p class="name" ><%= list[i].account.nick %></p>
            </a>
            <% if(!hotFeeds){ %>
            <div class="favbtn <% if(list[i].firstFeed.isLiked =='1'){%> faved <% } %> log" data-log="<% if(list[i].firstFeed.isLiked =='1'){%>cancelfaved<% }else{ %>addfav<% } %>"></div>
            <% } %>
        </div>
        <div class="separator"></div>
    </li>
    <% } %>
</script>

<script id="detail_header_tpl" type="text/template">
    <div class="back log" data-log="detail_back">
        <a href="<%= href %>">返回</a>
    </div>
    <div class="title">&nbsp;</div>
    <ul class="fn_btns">
        <li class="comment to-comment-list log" data-log="commentlist">
            <div class="btn">评论 <span></span></div>
        </li>

    </ul>
</script>
<script id="comment_list_header_tpl" type="text/template">
    <div class="back log" data-log="comment_back">
        <a href="<%= href %>">返回</a>
    </div>
    <div class="title">评论<span class="comment-count"><span></div>
</script>
<script id="newComment_header_tpl" type="text/template">
    <div class="back log" data-log="newComment_back">
        <a href="<%= href %>">返回</a>
    </div>
    <div class="title">回复评论</div>
    <ul class="fn_btns">
        <li class="comment publish-comment">
            <div class="btn green">回复</div>
        </li>
    </ul>
</script>

<script id="slider_tpl" type="text/template">
    <div class="in-slider ishide">
        <div class="in-slider-cont" style="-webkit-transform: translate3d(0px, 0px, 0px);">
            <ul id="inslist"
                style="-webkit-transform: translate3d(0px, 0px, 0px); -webkit-backface-visibility: hidden; width: <%=width %>px; -webkit-transition: 0ms;">
                <% _.each(list, function(item) { %>
                <li style="-webkit-transform: translate3d(0px, 0px, 0px);">
                    <% if(item.url){ %>
                    <a  href="<%=item.url %>">
                        <% }else{ %>
                        <a>
                            <% } %>
                            <img class="lazyimg" height="156" width="100%" dataimg="<%=item.picture %>"
                                 src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif">
                        </a>
                </li>
                <% }); %>
            </ul>
        </div>
        <div class="in-slider-status">
        </div>
    </div>
</script>
<script id="myList_tpl" type="text/template">
    <ul>
        <% _.each(list, function(item) { %>
        <li>
            <div snsid="<%=item.id%>" class="content log" data-log="account">
                <div class="title"><%=item.nick%></div>
                <div class="info"><%=item.description%></div>
                <div class="follows"><span><%=formatFans(item.fansCount)%></span>关注者</div>
                <div class="default">
                    <% if(item.logoUrl){ %>
                    <img class="lazy" dataimg="<%=getImgUrl(item.logoUrl,100,60)%>"
                         src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif">
                    <% } %>
                </div>
            </div>
        </li>
        <% }); %>
    </ul>
</script>
<script id="personList_tpl" type="text/template">
    <ul>
        <% _.each(list, function(item) { %>
        <li>
            <div snsid="<%=item.id%>" class="content log" data-log="account">
                <div class="title"><%=item.nick%></div>
                <div class="info"><%=item.description%></div>
                <div class="follows"><span><%=formatFans(item.fansCount)%></span>关注者</div>
                <div class="default">
                    <% if(item.logoUrl){ %>
                    <img class="lazy" dataimg="<%=getImgUrl(item.logoUrl,100,60)%>"
                         src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif">
                    <% } %>
                </div>
            </div>
            <% if(item.followed=='true'){ %>
            <button pid="<%=item.id%>" class="followbtn followed log" data-log="cancelattention">取消关注</button>
            <% }else{ %>
            <button pid="<%=item.id%>" class="followbtn log" data-log="attention">关注</button>
            <% }%>
        </li>
        <% }); %>
    </ul>
</script>
<script id="recommendtip_tpl" type="text/template">
    <div class="recommendtip">您还没有关注任何账号哦，看看我们的推荐吧！</div>
</script>
<script id="myfeed_tpl" type="text/template">

    <div class="myfeed">
        <ul>
            <% _.each(list, function(item) { %>
            <% if(item.firstFeed){ %>
            <% if(item.firstFeed.coverTile&&item.firstFeed.coverTile.path) {%>
            <li feedId="<%=item.firstFeed.id%>" snsid="<%=item.firstFeed.creatorId%>" class="multimedia log"
                data-log="account">
                <div class="media">
                    <div class="default">
                        <% if(item.firstFeed.coverTile.path){ %>
                        <img src="<%=getImgUrl(item.firstFeed.coverTile.path,170,100,true)%>">
                        <% } %>
                    </div>
                </div>



                <% }else{ %>
            <li feedId="<%=item.firstFeed.id%>" snsid="<%=item.firstFeed.creatorId%>" class="log" data-log="account">
                <% } %>
                <div class="feed">
                    <div class="title"><%=item.firstFeed.title%></div>
                    <div class="info"><%=item.firstFeed.summary%></div>
                    <div class="status">
                        <span class="time"><%=timestamps(item.firstFeed.time)%></span>
                        <%if (item.unreadCount>0){ %>
                                            <span class="like">
                                                <%if (item.unreadCount>9){ %>
                                                9+
                                                <% }else{ %>
                                                    <%=item.unreadCount%>
                                                <% } %>
                                            </span>
                        <% } %>
                        <% if(item.account){ %>
                        <span class="name"><%=item.account.nick%></span>
                        <% } %>
                    </div>
                </div>

            </li>
            <% } %>

            <% }); %>

        </ul>
    </div>
</script>

<script id="accountinfo_tpl" type="text/template">
    <div snsid="<%=id%>" class="tb-profile">
        <div class="user-mark"></div>
        <div class="user-cover" style="<% if(backgroundImg){ %>background-image: url('<%=backgroundImg%>')<% } %>">
        </div>
        <div class="user-avatar">
            <div class="default">
                <% if(typeof logoUrl!='undefined'&&logoUrl!==''){ %>
                <img src="<%=getImgUrl(logoUrl,100,60)%>">
                <% } %>
            </div>
        </div>
        <div class="user-info">
            <h1><%=nick%></h1>

            <h3><%=description%></h3>
        </div>
    </div>
    <% if(noHelper(accountType)){ %>
    <div class="tb-counts">
        <div class="profile-overview">
            <div class="stats-count">
                <%=formatFans(fansCount)%>
            </div>
            <div class="stats-name">
                关注者
            </div>
        </div>
        <div class="profile-overview">

            <div url="<%=url%>" linkUrlIsExt="<%=linkUrlIsExt%>"
                 class="stats-global <% if(url==''){ %> stats-global-disable <% } %> wwwIco log" data-log="wwwIco"></div>

        </div>

        <div class="profile-overview">
            <% if(followed=='true'){ %>
            <button pid="<%=id%>" class="stats-follow-btn followed log" data-log="cancelattention">
                取消关注
            </button>
            <% }else{ %>
            <button pid="<%=id%>" class="stats-follow-btn log" data-log="attention">
                关注
            </button>
            <% } %>
        </div>
    </div>
    <% } %>
</script>
<script id="tbfeed_tpl" type="text/template">

    <% _.each(list, function(item) { %>
    <li feedId="<%=item.id%>" snsid="<%=item.creatorId%>">
        <div class="jsItem log" data-log="accountFeedItem">
            <div class="title"><%=item.title%></div>
            <div class="fns">
                <span class="icon-clock time"><%=timestamps(item.time)%></span>
                <% if(item.commentCount!=0) {%>
                    <span class="comment commentIco">
                        <%=item.commentCount%>
                    </span>
                <% }%>
            </div>
            <% if(item.coverTile){ %>
            <% if(item.coverTile.path){%>
            <div class="media">
                <div class="item <% if(item.coverTile.item){ %>
                                        <% if(item.coverTile.item){ %>
                                            it<%=item.coverTile.item.id%>
                                        <% } %>
                                 <% } %> ">
                    <% var pic; if(Env.isDesktop){ %>
                    <% pic=resizeImg({'url':item.coverTile.path,'expWidth':470,'rWidth':parseInt(item.coverTile.picWidth),'rHeight':parseInt(item.coverTile.picHeight),'isXz':true})  %>
                    <% }else{ %>
                    <% pic=resizeImg({'url':item.coverTile.path,'expWidth':window.innerWidth-30,'rWidth':parseInt(item.coverTile.picWidth),'rHeight':parseInt(item.coverTile.picHeight),'isXz':true})  %>

                    <% } %>
                    <img class="lazy" style="width:<%=pic.expWidth%>px;height:<%=pic.expHeight%>px" picWidth="<%=parseInt(pic.expWidth)%>" picHeight="<%=parseInt(pic.expHeight)%>"
                         dataimg="<%=pic.url%>" src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif" />

                </div>
            </div>
            <% } %>
            <% } %>
            <div class="text">
                <%=item.summary%>
            </div>
        </div>
        <a class="account">

        </a>
        <div class="favbtn <% if(item.isLiked =='1'){%> faved <% } %> log" data-log="<% if(item.isLiked =='1'){%>cancelfaved<% }else{ %>addfav<% } %>"></div>
    </li>
    <% }); %>


</script>
<script id="loginBar_tpl" type="text/template" disable>
    <div class="login-bar">
        <span>登录后就能关注您喜欢的账号了</span>
        <a class="login-btn log" data-log="login" id="J_login_btn">登录</a>
    </div>
</script>


<script id="detail_accinfo_tpl" type="text/template">
    <a snsid="<%= snsId %>" class="brand log" data-log="detailAccount">
        <div class="default">
            <% if(typeof logoUrl!='undefined'&&logoUrl!==''){ %>
            <img class="avatar" src="<%=getImgUrl(logoUrl,100,60)%>"/>
            <% } %>
        </div>
        <div class="info">
            <p class="name"><%= nick %></p>
            <% if(noHelper(accountType)){ %>
            <p class="follow" snsid="<%=snsId%>">
                <% if (fansCount == 0) { %>
                还没有人关注
                <% } else { %>
                <span class="count"><%= formatFans(fansCount) %></span> 关注者
                <% } %>
            </p>
            <% } %>
        </div>
    </a>


</script>
<script id="detail_content_tpl" type="text/template">
    <h1><%= title %> </h1>
    <div class="favbtn <% if(isLiked =='1'){%> faved <% } %> log" data-log="<% if(isLiked =='1'){%>cancelfaved<% }else{ %>addfav<% } %>"></div>
    <% if (time) { %>
    <p class="detail-info">
        <span class="icon-clock pub-time"><%= timestamps(time) %></span>
        <% if(parseInt(commentCount)>0){ %>
        <span class="icon-comment cmt-count"><%= commentCount %></span>
        <% } %>
    </p>
    <% } %>
    <% for (var i = 0; i < tiles.length; i++) { %>
    <% if (tiles[i].type == "pic") { %>
    <div class="media"><img class="lazy"
        <%if(Env.isDesktop){%>
        dataimg="<%=getBetterImg(tiles[i].path, 370, parseInt(tiles[i].picWidth),true) %>"
        <% }else{%>
        dataimg="<%=getBetterImg(tiles[i].path, window.innerWidth-30, parseInt(tiles[i].picWidth)) %>"
        style="<%= detailImageSizeStyle(tiles[i].picWidth, tiles[i].picHeight) %>"
        <% } %>

        src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif">
    </div>
    <% } else if (tiles[i].type == "text") { %>

    <p class="text"><%= tiles[i].text.replace(/(\n)+/g, '<span style="height:5px;display:block"></span>') %></p>

    <% } else if (tiles[i].type == "picItem") { %>
    <div class="media">
        <a style="display: block" href="<%= getItemDetailUrl('a', { itemId: tiles[i].item.id }) %>" class="item"
           data-id="<%= tiles[i].item.id %>">
            <img class="lazy"
            <%if(Env.isDesktop){%>
            dataimg="<%= getBetterImg(tiles[i].path, 370, parseInt(tiles[i].picWidth),true) %>"
            <% }else{ %>
            dataimg="<%= getBetterImg(tiles[i].path, window.innerWidth-30, parseInt(tiles[i].picWidth)) %>"
            style="<%= detailImageSizeStyle(tiles[i].picWidth, tiles[i].picHeight) %>"
            <% } %>
            src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif">

            <div class="price" style="display: none;"></div>
        </a>
    </div>
    <% } %>
    <% } %>

    <% if (linkUrl) { %>
    <a href="<%= linkUrl %>" class="more-content log" data-log="linkUrl">
        <span class="link-icon"></span>
        <span class="link-title"><%= linkTitle || '更多内容' %></span></a>
    <% } %>
</script>


<script id="comment_list_tpl" type="text/template">

    <ul class="comment-list">
        <% for (var i = 0; i < list.length; i++) { %>
        <li>
            <div class="user-info">
                <div class="default">
                    <%if(list[i].createrPic){%>
                    <img src="<%= list[i].createrPic %>">
                    <% } %>
                </div>
                <div class="info">
                    <p class="user-name"><%= list[i].createrName %></p>

                    <p class="pub-time"><%= timestamps(list[i].time) %></p>
                </div>
                <button class="reply-button" authorid="<%= list[i].createrId %>"
                        authornick="<%= list[i].createrName %>"
                        parentid="<%= list[i].id %>">回复</button>
            </div>
            <div class="user-comment">
                <% if (list[i].authorNick) { %>
                回复 <span style="color: #999"><%= list[i].authorNick %>: </span>
                <% } %>
                <%- list[i].content %>
            </div>

            <div class="separator"></div>
        </li>
        <% } %>
    </ul>
    <div id="commentListPageNav" class="pagenav"></div>
</script>

<script id="rec_comment_tpl" type="text/template">
    <ul class="comment-list">
        <% for (var i = 0; i < list.length; i++) { %>
        <li>
            <div class="user-info">
                <div class="default">
                    <%if(list[i].createrPic){%>
                    <img src="<%= list[i].createrPic %>">
                    <% } %>
                </div>
                <div class="info">
                    <p class="user-name"><%= list[i].createrName %></p>

                    <p class="pub-time"><%= timestamps(list[i].time) %></p>
                </div>

                <button class="reply-button" authorid="<%= list[i].createrId %>"
                        authornick="<%= list[i].createrName %>"
                        parentid="<%= list[i].id %>"
                        snsid="<%= list[i].ownerId %>"
                        feedid="<%= list[i].feedId %>">回复</button>
            </div>
            <div class="user-comment">
                回复我：<%- list[i].content %>
            </div>
            <div class="my-comment">
                我的评论：<a onclick="changeHash('#detail/<%= list[i].ownerId + '/' + list[i].feedId %>','rec_comment')"><%- list[i].parentContent %></a>
            </div>

            <div class="separator"></div>
        </li>
        <% } %>
    </ul>
    <div id="RecCommentPageNav" class="pagenav"></div>
</script>

<script id="newComment_input_tpl" type="text/template">
    <div class="comment-wrap">
        <p class="reply-to">回复：</p>
        <textarea id="comment-area"></textarea>
        <p class="word-count"><span class="char-count">0</span> / 140</p>
    </div>
</script>

<script id="recComment_header_tpl" type="text/template">
    <div class="back log" data-log="recComment_back">
        <a href="<%= href %>">返回</a>
    </div>
    <div class="title">收到的评论</div>
    <ul class="fn_btns">
        <li class="refresh rec-comment log" data-log="Refresh">
            <div class="btn"><div>
            </div></div>
        </li>
    </ul>
</script>




<script type="text/template" id="J-recommendAccountTpl">
    <div class="account-search recommend-account">
        <div class="person-list">
            <ul id="J-recommendPersonList">
            </ul>
        </div>
    </div>
</script>

<script type="text/template" id="J-personTpl">
    <div snsid="<%= id%>" class="content log" data-log="account">
        <div class="title"><%= nick%></div>
        <div class="info"><%= description%></div>
        <div class="follows"><span><%= fansCount%></span>关注者</div>
        <div class="default">
            <img class="lazy" dataimg="<%= logoUrl%>" src="http://a.tbcdn.cn/mw/webapp/fav/img/grey.gif"/>
        </div>
    </div>
    <%if(!isMyList){%>
    <button pid="<%=id%>" class="followbtn <%if(followed){%><%=followInfo.cls%><%}%> log" data-log="<%= followInfo.log%>"><%= followInfo.txt%></button>
    <%}%>
</script>

<!-- Templates -->

<input type="hidden" id="J_app_key" value="12574478">
<script src="http://a.tbcdn.cn/mw/base/libs/seajs/1.2.0/sea.js"></script>
<script>
    seajs.use('./src/app/allspark.js', function (app) {
    });

</script>
</body>
</html>